.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
.idea
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# IntelliJ IDEA/Android Studio/CLion IDE Files
.idea/

# Android-specific
local.properties
.externalNativeBuild/
buildSrcTmp/
distTmp/
outTmp/

# Gradle
gradle-app.setting
.gradle/

# Node.js/JavaScript-Specific
node_modules/
.rpt2_cache/

# Kotlin/Jetpack Compose-specific
*.kotlin_metadata
kotlin-native/dist
kotlin-ide/

# Test Outputs
/test.output

# General Build/Output Folders
out/
dist/
tmp/

# Temporary Files
*.iml
*.lock
*.tmp
*.temp
*.bak
*.orig
*.hprof
*.log

# Exceptions for Build/Test Directories
!**/src/**/build
!**/test/**/build
!**/testData/**/*.iml

# TeamCity
.teamcity/

# Keystore Files
*.jks

# IDE SDKs
ideaSDK/
clionSDK/

# Personal/Local Configurations
workspace.xml
*.versionsBackup
